{% load static markdown %}
<div class="ui feed" style=" margin-bottom:40px;">
    <div class="event">
        <div class="label">
            {% if message.sender %}
                <img height=100 width=100 alt="{{ message.sender.username }}" src="{% if message.sender.profile.image %}{{ message.sender.profile.image.url }}{% else %}https://cdn-icons-png.freepik.com/512/8742/8742495.png{% endif %}" />
            {% else %}
                <img height=100 width=100 alt="AI" src="{% static 'img/logo2.png' %}" />
            {% endif %}
        </div>
        <div class="content">
            <div class="date">
                {{message.created_at|date:"H:i"}}
            </div>
            <div class="summary">
                <a>{% if message.sender %}
                    {{ message.sender.username }}
                {% else %}
                    AI
                {% endif %}</a> created a post
            </div>
            <div class="extra text">
                {% block content %}
                {% if message.sender %}
                    {{ message.text }}
                {% else %}
                    {{ message.text|markdown|safe }}
                {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
