{% load static %}
<div class="chat {% if message.sender %}chat-end{% else %}chat-start{% endif %}">
    <div class="chat-image avatar">
        <div class="w-12 rounded-full">
            {% if message.sender %}
                <img alt="{{ message.sender.username }}" src="{% if message.sender.profile.image %}{{ message.sender.profile.image.url }}{% else %}https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg{% endif %}" />
            {% else %}
                <img alt="AI" src="{% static 'img/logo2.png' %}" />
            {% endif %}
        </div>
    </div>
    <div class="chat-header">
        {% if message.sender %}
            {{ message.sender.username }}
        {% else %}
            AI
        {% endif %}
        <time class="text-xs opacity-50">{{ message.created_at|date:"H:i" }}</time>
    </div>
    <div class="chat-bubble mb-2 text-gray-900 text-xl {% if message.sender %}bg-secondary{% else %}bg-primary{% endif %}" >
        {% if message.sender %}
            {{ message.text }}
        {% else %}
            {{ message.text|safe }}
        {% endif %}
    </div>
</div>