<!-- templates/question_multiple_choice.html -->
{% extends "question/message.html" %}
{% block content %}
<h4 class="font-medium text-xl mb-2">{{ message.text|safe }}</h4>
<div class="ui grid" x-data="{ selectedChoice: null, selectChoice(index) { this.selectedChoice = index } }">
    {% for choice in message.choices %}
        <button 
            x-on:click="selectChoice({{ forloop.counter0 }})" 
            :class="selectedChoice === null ? 'ui  button' : (selectedChoice === {{ forloop.counter0 }} ? 'ui primary button' : 'ui button')" 
            type="button" 
            class="three wide column "
        >
            {{ choice }}
        </button>
    {% endfor %}
</div>
{% endblock %}
