<!-- templates/question_multiple_choice.html -->
{% extends "question/message.html" %}
{% block content %}
<span class="font-medium text-xl" >{{ message.text|safe }}</span>
<div class="ui three column doubling grid" x-data="{ selectedChoice: null, selectChoice(index) { this.selectedChoice = index } }" style="margin-top:5px; margin-bottom:15px;">
    {% for choice in message.choices %}
        <button 
            x-on:click="selectChoice({{ forloop.counter0 }})" 
            :class="selectedChoice === null ? 'ui  button' : (selectedChoice === {{ forloop.counter0 }} ? 'ui primary button' : 'ui button')" 
            type="button" 
            class="column"
            style="margin-top:10px;"
        >
            {{ choice }}
        </button>
    {% endfor %}
</div>
{% endblock %}
