
{% extends 'base.html'%}
{% block content %}
<div class="min-h-full">


  <!-- Main column -->
  {% comment %} <div class="flex flex-col lg:pl-64"> {% endcomment %}
  <div>
    <!-- Search header -->
    <div class="ui two column stackable grid">
  
  
  
      <div class="four wide column">
        <div style="height:100%; width:fit-content;" class="fixed ui vertical menu">
          <img height="100" width="100" alt="AI" src="/static/img/logo.png" style="margin-left:auto; margin-right:auto;" >
          <div class="item">
            <div class="ui input"><input type="text" placeholder="Search..."></div>
          </div>
          <div class="item">
            Home
            <div class="menu">
              <a class="active item">Search</a>
              <a class="item">Add</a>
              <a class="item">Remove</a>
            </div>
          </div>
          <a class="item">
            <i class="grid layout icon"></i> Browse
          </a>
          <a class="item">
            Messages
          </a>
          <div class="ui dropdown item">
            More
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item"><i class="edit icon"></i> Edit Profile</a>
              <a class="item"><i class="globe icon"></i> Choose Language</a>
              <a class="item"><i class="settings icon"></i> Account Settings</a>
            </div>
          </div>
        </div>
      </div>
      <div class="twelve wide column">
        <main class="flex-1">
          <div class="mt-6 px-4 sm:px-6 lg:px-8">
            {% block page_content %}
            {% endblock %}
          </div>
          <div class="mt-6">
            {% block page_bottom %}
            {% endblock %}
          </div>
        </main>
      </div>
    </div>
  </div>
</div>
{%  endblock %}