{% extends 'dashboard/base.html' %}
{% load static %}
{% block scripts %}
    <script>
        console.log("Hello, World!")
        window.scrollTo({ top: document.body.scrollHeight, behavior: 'smooth' })
    </script>
{% endblock %}
{% block page_content %}
<div id="chat-box" class="" style="padding-bottom: 40px; margin-top:1rem;"> <!-- Ensure no overlap with the fixed form -->
    <div class="ui text container">
        <div class="ui raised very text segment" style="padding-left:20px; padding-right:20px;">
            <h1 class="ui header">Chat</h1>
            <div class="ui close left rail">
                <div class="ui segment">
                    Left Rail Content
                </div>
            </div>
            <div class="ui close right rail">
                <div class="ui segment">
                    Right Rail Content
                </div>
            </div>
            {{generated_content|safe}}
              </div>
            {% comment %} {% for message in chat.messages.all %}
            {{message}}
            {% endfor %} {% endcomment %}
        </div>
    </div>
    <div class="ui segment fixed bottom-0 left-0 w-full lg:w-[calc(100%-16rem)] lg:left-64 p-4 shadow-lg border-base-200 border-t">
        <form method="post" class="ui form" x-data="{ 
            resize () { 
                this.$refs.textarea.style.height = 'auto'; 
                this.$refs.textarea.style.height = this.$refs.textarea.scrollHeight + 'px'; 
            } 
        }" @input="resize">
            {% csrf_token %}
            <div class="field" style="display: flex; align-items: center;">
                <textarea name="text"
                    x-ref="textarea"
                    @input="resize()"
                    placeholder="Type your message here."
                    class="ui input"
                    style="flex-grow: 1; margin-right: 1em; min-height: 80px; resize: none; overflow: hidden;"></textarea>
                <button type="submit" class="ui primary button">Send</button>
            </div>
        </form>
    </div>
{% endblock %}
