{% extends 'dashboard/base.html' %}
{% load static %}
{% block page_content %}
    <h1 class="mb-2 font-bold text-3xl">Chat</h1>
    <div id="chat-box" class="pb-40"> <!-- Increase padding to ensure no overlap with the fixed form -->
        {% for message in chat.messages.all %}
            <div class="chat {% if message.sender %}chat-end{% else %}chat-start{% endif %}">
                <div class="chat-image avatar">
                    <div class="w-12 rounded-full">
                        {% if message.sender %}
                            <img alt="{{ message.sender.username }}" src="{% if message.sender.profile.image %}{{ message.sender.profile.image.url }}{% else %}https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg{% endif %}" />
                        {% else %}
                            <img alt="AI" src="{% static 'img/logo2.png' %}" />
                        {% endif %}
                    </div>
                </div>
                <div class="chat-header">
                    {% if message.sender %}
                        {{ message.sender.username }}
                    {% else %}
                        AI
                    {% endif %}
                    <time class="text-xs opacity-50">{{ message.created_at|date:"H:i" }}</time>
                </div>
                <div class="chat-bubble mb-2">{{ message.text }}</div>
            </div>
        {% endfor %}
    </div>
    <div class="bg-base-100 fixed bottom-0 left-0 w-full lg:w-[calc(100%-16rem)] lg:left-64 p-4 shadow-lg border-base-200 border-t">
        <form method="post" class="flex flex-1 items-center" x-data="{ 
            resize () { 
                this.$refs.textarea.style.height = 'auto'; 
                this.$refs.textarea.style.height = this.$refs.textarea.scrollHeight + 'px'; 
            } 
        }" @input="resize">
            {% csrf_token %}
            <textarea name="text"
                x-ref="textarea"
                @input="resize()"
                placeholder="Type your message here. I will resize based on the height content."
                class="flex-grow p-2 border rounded mr-2 resize-none overflow-hidden min-h-[80px]"></textarea>
            <button type="submit" class="bg-blue-500 text-white p-2 rounded">Send</button>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        console.log("Hello, World!")
    </script>
{% endblock %}