<!-- templates/dashboard/nav_item.html -->

{% for nav_item in nav_items %}
<div class="px-3 mt-4">
    <div tabindex="0" class="collapse bg-base-200 hover:bg-base-100 focus:bg-base-200 rounded-lg p"> 
        <div class="collapse-title text-md font-medium hover:cursor-pointer" style="padding:0.5rem !important; min-height:0;">
            <p class="ml-3">{{ nav_item.title }}</p>
        </div>
        <div class="collapse-content"> 
            {% for item in nav_item.items %}
                <a href="{% url 'chat-view' item.id %}" class="block hover:bg-gray-100 rounded-md p-1 hover:cursor-pointer text-sm">
                    {{ item.user.username }} - {{ item.created_at|date:"Y-m-d H:i" }}
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
