<!-- templates/dashboard/nav_item.html -->

{% for nav_item in nav_items %}
<div class="px-3 mt-4">
    <div class="collapse bg-base-200 hover:bg-base-100 peer-checked:bg-primary focus:bg-base-200 rounded-lg p">
        <input type="radio" name="nav-accordion" id="nav-accordion-{{ forloop.counter }}" class="hidden" {% if forloop.first %}checked{% endif %}/> 
        <label for="nav-accordion-{{ forloop.counter }}" class="collapse-title text-md font-medium hover:cursor-pointer" style="padding:0.5rem !important; min-height:0;">
            <p class="ml-3">{{ nav_item.title }}</p>
        </label>
        <div class="collapse-content">
            {% for item in nav_item.items %}
                <a href="{{ item.url }}" class="block hover:bg-gray-100 rounded-md p-1 hover:cursor-pointer text-sm">
                    {{ item.user.username|default:item.created_at }} - {{ item.created_at|date:"Y-m-d H:i" }}
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
